h1 {
      color: yellow;
      font-size: 32pt;
    }
body {
      
      background-color: LightSeaGreen;
      text-align: center;
}
#fastfacts {
      text-align: left;
}
li {
      text-align: left;
}

h3 {
      color: white;
}


