h1 {
      color: yellow;
      font-size: 32pt;
    }
body {
      border: 10px black solid;
      margin: 0px;
      
      background-color: LightSeaGreen;
      text-align: center;
}
img {
      width:80%; 
}

#table {
      width: 80%; 
      border: 1px; 
      cellspacing: 0;
}

#Pic2 {
      width = 50%;
}

#fastfacts {
      text-align: left;
}
li {
      text-align: left;
}

h3 {
      color: white;
      text-align: left;
      margin: 7px;
}


